@import url('https://fonts.googleapis.com/css?family=Anton|Gotu|Lobster|Source+Code+Pro&display=swap');
$main-color: #eb7c22;
/*
font-family: 'Gotu', sans-serif;

font-family: 'Anton', sans-serif;
MENU:
font-family: 'Lobster', cursive; 

font-family: 'Source Code Pro', monospace;

*/

.wrapper{
    max-width:1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Gotu', sans-serif;
}